div.header {
    padding-top:0px; border-bottom:1px #eff4f9 solid; float:left; width:100%; padding-bottom:2px; margin-bottom:12px;
}
div.header h3 {
    margin-top:5px; font-size:16px; font-family:'微软雅黑'; float:left;
}

div.blue {
    color:#478fca;
}

div.ace-settings-container {
    float:right; padding:0px;
}

div.ace-settings-container ul.pagination {
    margin:0px;
}


.table-responsive {
    float:left; width:100%;
}