<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<script type="text/javascript" src="/basic/validate/bootstrapValidator.js"></script>
		<title>修改菜单</title>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">
			<div class="header lighter smaller blue">
				<h3><i class="fa fa-pencil"></i>&nbsp;修改菜单</h3>
				<div th:replace="admin/basic/menu/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${menu}" id="dataForm">
				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">菜单名称</div>
						<input type="text" name="name" th:value="${menu.name}" class="form-control" readonly="readonly"/>
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">菜单图标</div>
						<div class="input-group-addon"><span th:class="${menu.icon}"></span></div>
						<input type="text" name="icon" th:value="${menu.icon}" class="form-control" placeholder="上fontawesome.io、v3.bootcss.com查找相应图标"/>
					</div>
				</div>

				<input type="hidden" name="token" value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
				<button type="button" onclick="history.back(-1)" class="btn btn-default">返回上级</button>
			</form>
		</div>
	</body>
</html>