<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content">
            <div class="ace-settings-container" id="ace-settings-container">
                <ul class="pagination">
                    <li><a href="/webm/category/list"><span class="glyphicon glyphicon-th-list"></span> 我的分类列表</a></li>
                    <li><a href="javascript:void(0)" class="add-category-btn"><span class="fa fa-plus"></span> 添加分类</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
